# React Native
node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.apk
*.aab

# macOS
.DS_Store

# env
.env
.env*.local

# TypeScript
*.tsbuildinfo
